.nav{
    width: 100%;
    position: fixed;
    height: 98px;
    margin-bottom:4px;
    background-color:#3deb34;
    border-bottom: 2px solid #28a745;
    z-index:5;
}
.nav img{
    border: 1px solid lightcoral;
}