a{
    text-decoration: none;
    color: black;
}
.view-book{
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: repeat(4,30px) 300px 50px;
    justify-content: center;
    justify-items: left;
    width: 1000px;
    background-color: #ffc107;
    margin: 0 auto;
    border: 1px solid #28a745;
    padding: 10px;
}
.book-img{
    grid-row: 1 / 6;
    padding: 20px;
}
.update-book{
    width: 130px;
    height: 25px;
    border: 1px solid #28a745;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}
.update-book:hover{
    background-color: yellow;
}
.bill-info{
    margin-right: 5px;
    margin-bottom: 5px;
}